DATABASE_URL=
CORS_ORIGIN=https://myapp.localhost:1355
PORT=3000
NODE_ENV=development
BASE_URL=https://api.myapp.localhost:1355
HOST=0.0.0.0

APP_NAME=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://api.myapp.localhost:1355
COOKIE_DOMAIN=myapp.localhost
